[submodule "vendor/php-service-manager"]
	path = vendor/php-service-manager
	url = git://github.com/gplanchat/php-service-manager.git
[submodule "vendor/php-event-manager"]
	path = vendor/php-event-manager
	url = git://github.com/gplanchat/php-event-manager.git
[submodule "vendor/php-log"]
	path = vendor/php-log
	url = git@github.com:gplanchat/php-log.git
[submodule "vendor/psr-log"]
	path = vendor/psr-log
	url = git@github.com:php-fig/log.git
[submodule "vendor/php-plugin-manager"]
	path = vendor/php-plugin-manager
	url = git@github.com:gplanchat/php-plugin-manager.git
